name: auto-sync-with-template

on:
  schedule:
  # Perform automatic syncs on saturday at 9 am
  - cron:  "0 9 * * 6"
  # manual trigger
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Create git client with PAT that has access to the private template
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: install
        run: |
          npm ci
      - name: sync-repos
        uses: HanseltimeIndustries/template-repo-sync-action
        with:
          repoPath: HanseltimeIndustries/github-actions-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          templateBranch: main
          commitMsg: "build(boilerplate): synchronize template repo"