name: Tests
on:
  workflow_call:
    inputs:
      from:
        required: true
        type: string
      templatePrefix:
        required: true
        type: string

# This will cancel in progress jobs if another job with the same ref gets started.
# Github run_id is a backup in case github.ref doesn't exist for some reason
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci-checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      # TODO: caching this action would accelerate the run
      - name: corepack
        run: |
          corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: install
        run: |
          npm ci
      - name: commit-linting
        run: |
          if [[ "${{ github.base_ref }}" != "" ]]; then
            echo "Setting up git environment for commitlint of pull request"
            git fetch origin ${{ github.base_ref }}
            git fetch origin ${{ github.head_ref }}
            npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
          else
            echo "Setting up git environment for commitlint of branch push"
            git fetch origin ${{ github.ref_name }} --unshallow
            npx commitlint --from $(git rev-list --max-parents=0 origin/${{ github.ref_name }})
          fi
      - name: build
        run: |
          npm run build
      - name: linting
        run: |
          npm run lint
          npm run format
      - name: testing
        run: |
          npm run test
      - name: bundle
        run: |
          npm run bundle
  private-int-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Generate token to read from source repo
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TEMPLATE_REPO_SYNC_ACTION_APP_ID }}
          private-key: ${{ secrets.TEMPLATE_REPO_SYNC_ACTION_PKEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v6
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: sync-private-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-private-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          remoteRepoToken: ${{ steps.generate_token.outputs.token }}
          templateBranch: main
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}
          mockLocalConfig: "{}"
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "main" \
            --expectedFilesChanged "new_file.md" "package.json" "templatesync.json" "templatesync.local.json" \
            --expectedFromRepoPath "HanseltimeIndustries/test-private-template" \
            --remoteRepoToken "${{ steps.generate_token.outputs.token }}" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "main" \
            --expectedFromRepoPath "HanseltimeIndustries/test-private-template" \
            --remoteRepoToken "${{ steps.generate_token.outputs.token }}" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  private-int-test-after-ref:
    # This test expects a certain set of files that ONLY changed after the new commit.
    # NOTE - when updating the template repo for tests (infrequent, you will need to add an afterref commit too and update this sha)
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Generate token to read from source repo
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TEMPLATE_REPO_SYNC_ACTION_APP_ID }}
          private-key: ${{ secrets.TEMPLATE_REPO_SYNC_ACTION_PKEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: sync-private-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-private-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          remoteRepoToken: ${{ steps.generate_token.outputs.token }}
          templateBranch: main
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}-after-ref
          mockLocalConfig: '{ "afterRef": "17b002a6ebb1bf8cde0a0a1f12b85f58a349547d" }'
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "main" \
            --expectedFilesChanged "new_file.md" "templatesync.local.json" \
            --expectedFromRepoPath "HanseltimeIndustries/test-private-template" \
            --remoteRepoToken "${{ steps.generate_token.outputs.token }}" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-after-ref"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "main" \
            --expectedFromRepoPath "HanseltimeIndustries/test-private-template" \
            --remoteRepoToken "${{ steps.generate_token.outputs.token }}" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-after-ref"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  public-int-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Create git client with PAT that has access to the private template
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: sync-public-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-public-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          templateBranch: main
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}-public
          mockLocalConfig: "{}"
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "main" \
            --expectedFilesChanged "new_file.md" "package.json" "templatesync.json" "templatesync.local.json" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "main" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  public-int-test-no-update-ref:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Create git client with PAT that has access to the private template
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: sync-public-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-public-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          templateBranch: main
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}-public-update-ref
          updateAfterRef: false
          mockLocalConfig: "{}"
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "main" \
            --expectedFilesChanged "new_file.md" "package.json" "templatesync.json" "templatesync.local.json" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public-update-ref"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "main" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public-update-ref"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  public-int-test-non-default-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Create git client with PAT that has access to the private template
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: sync-public-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-public-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          templateBranch: non-default-branch
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}-public
          mockLocalConfig: "{}"
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "non-default-branch" \
            --expectedFilesChanged "new_file.md" "package.json" "templatesync.json" "templatesync.local.json" "new_branch_file.md" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "non-default-branch" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-public"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  no-op-int-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # Create git client with PAT that has access to the private template
      - uses: actions/checkout@v4
      - name: setup git
        run: |
          git config user.name github-int-test
          git config user.email github-int-test@github.com
      - name: install
        run: |
          npm ci
      - name: bundle
        run: |
          npm run bundle
      - name: set up afterRef to match latest
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          LATEST_SHA=$(gh api repos/${{ github.repository }}/commits/main --template '{{.sha}}')
          # Change the SHA to the latest
          jq --arg new_sha "$LATEST_SHA" '.afterRef = $new_sha' templatesync.local.json > temp.json && mv temp.json templatesync.local
      - name: sync-public-repo
        id: test_run
        uses: ./
        with:
          repoPath: HanseltimeIndustries/test-public-template
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          templateBranch: main
          commitMsg: "build(boilerplate-int-test): synchronize template repo"
          branchPrefix: ${{ inputs.templatePrefix }}-noop
          mockLocalConfig: "{}"
      - name: assert
        run: |
          npx ts-node src/test-utils/confirm-repo-template.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedToBranch "main" \
            --expectedFromBranch "main" \
            --expectedFilesChanged "new_file.md" "package.json" "templatesync.json" "templatesync.local.json" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-noop"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: clean
        if: always()
        run: |
          npx ts-node src/test-utils/clear-int-test-resources.ts \
            --expectedPullNumber "${{ steps.test_run.outputs.prNumber }}" \
            --expectedFromBranch "main" \
            --expectedFromRepoPath "HanseltimeIndustries/test-public-template" \
            --expectedBranchPrefix "${{ inputs.templatePrefix }}-noop"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
